application_files/datatype/%7Burn%3Aappian%3Aps%3Ahealthcheck%7DHealthCheckRequestAnalysisResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:appian:ps:healthcheck"
  xmlns:tns="urn:appian:ps:healthcheck" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="HealthCheckRequestAnalysisResponse">
    <xsd:sequence>
      <xsd:element name="requestId" nillable="true" type="xsd:string"/>
      <xsd:element name="message" nillable="true" type="xsd:string"/>
      <xsd:element name="error" nillable="true" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
